@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Public Sans', system-ui, sans-serif;
    }

    :root {
        /* Colors Theme */
        --unlimited: 245 82% 67%;

        --primary: 245 82% 67%;
        --primary-foreground: 233 54% 88%;

        --secondary: 0 0% 0%;
        --secondary-foreground: 0 0% 100%;

        --accent: 245 82% 67%;
        --accent-foreground: 0 0% 100%;

        --background: 230 24% 19%;
        --foreground: 0 0% 100%;

        --muted: 210 40% 96.1%; /* toDo */
        --muted-foreground: 215.4 16.3% 46.9%; /* toDo */

        --popover: 0 0% 100%; /* toDo */
        --popover-foreground: 222.2 84% 4.9%; /* toDo */

        --card: 0 0% 100%; /* toDo */
        --card-foreground: 222.2 84% 4.9%; /* toDo */

        --border: 0, 0%, 100%, 0.13;
        --input: 214, 32%, 91%;

        --ring: 222.2 84% 4.9%;

        /* Colors Messages */
        --positive: 122 39% 49%;
        --positive-foreground: 0 0% 100%;

        --negative: 349 100% 35%;
        --negative-foreground: 0 0% 100%;

        --warning: 33 100% 49%;
        --warning-foreground: 0 0% 100%;

        --info: 207 90% 54%;
        --info-foreground: 0 0% 100%;

        /* Colors General */
        --purple: 291 100% 73%;
        --orange: 21 100% 73%;
        --blue: 201 100% 73%;
        --green: 112 100% 73%;
        --red: 0 100% 73%;

        /* Sizes */
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
